@import "CustomBoostrap.scss";

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.sidebar {
    background-image: linear-gradient(to bottom, #E3FFE0, #638F93);
    margin-top: 56px;
    padding: 25px 10px 30px 10px;  
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.btn-sidebar-icon span {
    font-size: 14pt;
    margin-right: 5px;
}

#check:checked ~ .sidebar {
    left: -190px;
}

#check:checked ~ .content {
    margin-left: 60px;
}

#check {
    display: none;
}

.content {
    padding-top: 80px;
    margin-left: 250px;
    height: 100vh;
    transition: 0.5s;
}

#top-menu {
    z-index: 999;
}

#sidebar, #body-place {
    padding-top: 1rem;
}

#sidebar {
    background-image: linear-gradient(to bottom, #E3FFE0, #638F93);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Table início */

table {
    @extend .table;
    @extend .table-sm;
    @extend .table-hover;
}

/* Table fim */


